<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.rtl.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Roboto:wght@100&display=swap"
        rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mochiy+Pop+P+One&family=Montserrat:wght@100&family=Poppins:ital,wght@1,100&family=Roboto+Condensed:wght@300&display=swap');
    </style>

    <title>La Bodeguita</title>
</head>

<body class="fadein">
   
  
    <!-- Menu -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to right, #6d1a36, #c26b5f, #6d1a36);">
        <div class="container-fluid">
          <a class="navbar-brand" href="/productos"  style="color:azure">La Bodeguita</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse"  id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/productos"  style="color:azure">Inicio</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:azure">
                  Categorias
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background: linear-gradient(to right, #6d1a36, #c26b5f, #6d1a36);">
                  <li><a class="dropdown-item" href="vinos-tintos.ejs">Vino Tinto</a></li>
                  <li><a class="dropdown-item" href="vinos-blancos.ejs">Vino Blanco</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="espumantes.ejs">Espumantes</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="caracteristicas.ejs" style="color:azure">Caracteristicas</a>
              </li>
              
         <!--      <li class="nav-item">
                <a class="nav-link" href="SesionEmpleados.ejs" style="color:azure">Acceso Empleados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="SignIn.ejs" style="color:azure">Login</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="Register.ejs" style="color:azure">Registrate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="acerca.ejs" style="color:azure">Acerca de..</a>
              </li>

            </ul>
            
          </div>
        </div>
      </nav>

    <div class="container-caracteristica">

        <h1><a name="#Comprar"> ¿Como Comprar?</a></h1>
        <p>Insignia de nuestro país en el exterior y en el mercado interno. Fue traído de Francia a mediados de 1800.
            Hubo
            dos factores determinantes a la hora de convertirla en una variedad característica de Argentina: la primera,
            las
            particularidades que le dio su contacto con el clima, latitud y la tierra de acá (muy diferentes a las de
            Sur
            Oeste de Francia); la segunda, una plaga que arrasó con las plantaciones de Côt poco después de que se
            trajera a
            la Argentina y su impacto en la reducción de plantaciones.
            Si bien nuestro país no es hoy por hoy el único que produce Malbec, sí es el que más volumen de plantaciones
            tiene
            y sus vinos han recibido muchísimos premios. Más del 80 por ciento de los viñedos de Malbec están en Mendoza
            (en
            Luján de Cuyo y Valle de Uco) aunque también se produce en el Norte del país con sus características
            diferentes y
            particularidades.
            “Lo que pasó de interesante con el Malbec es que es un vino que se dio mejor acá que en su tierra de origen.
            Eso y
            que es un vino muy amable y fácil de tomar por sus características”, asegura Griguol.</p>
    </div>

    <div class="container-caracteristica ">

        <h1><a name="#envios"> ¿Envios?</a></h1>
        <p>Insignia de nuestro país en el exterior y en el mercado interno. Fue traído de Francia a mediados de 1800.
            Hubo
            dos factores determinantes a la hora de convertirla en una variedad característica de Argentina: la primera,
            las
            particularidades que le dio su contacto con el clima, latitud y la tierra de acá (muy diferentes a las de
            Sur
            Oeste de Francia); la segunda, una plaga que arrasó con las plantaciones de Côt poco después de que se
            trajera a
            la Argentina y su impacto en la reducción de plantaciones.
            Si bien nuestro país no es hoy por hoy el único que produce Malbec, sí es el que más volumen de plantaciones
            tiene
            y sus vinos han recibido muchísimos premios. Más del 80 por ciento de los viñedos de Malbec están en Mendoza
            (en
            Luján de Cuyo y Valle de Uco) aunque también se produce en el Norte del país con sus características
            diferentes y
            particularidades.
            “Lo que pasó de interesante con el Malbec es que es un vino que se dio mejor acá que en su tierra de origen.
            Eso y
            que es un vino muy amable y fácil de tomar por sus características”, asegura Griguol.</p>
    </div>

    
    <div class="container-caracteristica">

        <h1><a  name="#devolucion">  ¿Devolucion?</a></h1>
        <p>Insignia de nuestro país en el exterior y en el mercado interno. Fue traído de Francia a mediados de 1800.
            Hubo
            dos factores determinantes a la hora de convertirla en una variedad característica de Argentina: la primera,
            las
            particularidades que le dio su contacto con el clima, latitud y la tierra de acá (muy diferentes a las de
            Sur
            Oeste de Francia); la segunda, una plaga que arrasó con las plantaciones de Côt poco después de que se
            trajera a
            la Argentina y su impacto en la reducción de plantaciones.
            Si bien nuestro país no es hoy por hoy el único que produce Malbec, sí es el que más volumen de plantaciones
            tiene
            y sus vinos han recibido muchísimos premios. Más del 80 por ciento de los viñedos de Malbec están en Mendoza
            (en
            Luján de Cuyo y Valle de Uco) aunque también se produce en el Norte del país con sus características
            diferentes y
            particularidades.
            “Lo que pasó de interesante con el Malbec es que es un vino que se dio mejor acá que en su tierra de origen.
            Eso y
            que es un vino muy amable y fácil de tomar por sus características”, asegura Griguol.</p>
    </div>


    <footer>
        <div class="container-footer">
              <div class="container-footer-detail">    
                  <div class="container-footer-title">
                    <h5>Ayuda</h5>
                  </div>
                  <div class="container-help">
                      <div>
                        <a href="preguntas.ejs">Como Comprar</a> 
                      </div> 
                      <div>
                        <a href="preguntas.ejs">Envíos</a>
                      </div>
                      <div>
                        <a href="acerca.ejs">Nosotros</a>
                      </div>
                      <div>  
                      <a href="preguntas.ejs">Preguntas Frecuentes</a>
                    </div>
                    <div>  
                        <a href="tyc.ejs">Términos y Condiciones</a>
                    </div>
                </div>
              </div>
              <div class="container-footer-detail">
                  <div class="container-footer-title">
                    <h5 >Contacto</h5>
                  </div>  
                  <div class="container-footer-contact">
                      <div>
                        <p>
                          11-9977-4422 (Whatsapp)<br>
                          Lunes a Viernes de 8 a 20hs<br>
                          info@labodeguita.com.ar<br>
                          Oficinas<br>
                          Santiago del Estero 125 CABA<br>
                          Argentina<br>
                        </p>
                      </div>
                  </div>
                
              </div> 
              <div class="container-footer-detail">    
                <div class="container-footer-title">
                  <h5>Compras</h5>
                </div>
                <div class="container-help">
                    <div>
                      <a href="vinos-tintos.ejs">Vino Tinto</a> 
                    </div> 
                    <div>
                      <a href="vinos-blancos.ejs">Vino Blanco</a>
                    </div>
                    <div>
                      <a href="espumantes.ejs">Espumantes</a>
                    </div>
                   
                </div>
              </div> 
              <div class="container-footer-detail">    
                <div class="container-footer-title">
                  <h5>Seguinos</h5>
                </div>
                <div class="container-help">
                  <div class="redes-img">
                    <a href="http://www.instagram.com">
                      <img src="images/instagramblack.png" alt="instagram" class="redes-img">
                    </a>
                    
                    <a href="http://www.facebook.com">
                      <img src="images/facebookblack.png" alt="facebook" class="redes-img">
                    </a>
                    <a href="http://www.twitter.com">
                      <img src="images/twitter.png" alt="twitter" class="redes-img">
                    </a>
                  </div>
                   
                </div>
              </div> 
        
        </div>


      </footer>

    <script src="bootstrap.min.js"></script>
   
    <script src="all.min.js"></script>

</body>

</html>