<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/bootstrap.rtl.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Roboto:wght@100&display=swap"
    rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mochiy+Pop+P+One&family=Montserrat:wght@100&family=Poppins:ital,wght@1,100&family=Roboto+Condensed:wght@300&display=swap');
  </style>

  <title>La Bodeguita</title>
</head>

<body class="fadein">

    <!-- Menu -->
  <nav class="navbar navbar-expand-lg navbar-light"
    style="background: linear-gradient(to right, #6d1a36, #c26b5f, #6d1a36);">
    <div class="container-fluid">
      <a class="navbar-brand" href="/productos" style="color:azure">La Bodeguita</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/productos" style="color:azure">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" style="color:azure">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown"
              style="background: linear-gradient(to right, #6d1a36, #c26b5f, #6d1a36);">
              <li><a class="dropdown-item" href="vinos-tintos.ejs">Vino Tinto</a></li>
              <li><a class="dropdown-item" href="vinos-blancos.ejs">Vino Blanco</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="espumantes.ejs">Espumantes</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="caracteristicas.ejs" style="color:azure">Caracteristicas</a>
          </li>

          <!--    <li class="nav-item">
                <a class="nav-link" href="SesionEmpleados.ejs" style="color:azure">Acceso Empleados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="SignIn.ejs" style="color:azure">Login</a>
              </li> -->
          <li class="nav-item">
            <a class="nav-link" href="Register.ejs" style="color:azure">Registrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="acerca.ejs" style="color:azure">Acerca de..</a>
          </li>

        </ul>

      </div>
    </div>
  </nav>

  <!-- terminos y condiciones -->

  <div class="container-caracteristica text-center">
    <h1>Terminos y condiciones</h1>
  </div>


  <div class="container-caracteristica">

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, reiciendis ipsa. Numquam vel aut ex
      facilis maiores amet laudantium dolore libero non nesciunt debitis sit in reprehenderit quibusdam, enim
      neque quisquam perspiciatis nobis officiis ducimus iusto eveniet doloribus quis aspernatur? Esse delectus
      nisi expedita ut vitae, voluptas placeat non at. Beatae deleniti fugiat, unde laboriosam neque laudantium
      pariatur ex dolore aperiam sunt esse dolorum quod architecto laborum omnis sint error quae fugit quam
      veritatis totam dolores explicabo ab accusamus. Accusantium possimus accusamus beatae natus incidunt, cumque
      inventore odio ducimus rem obcaecati qui laudantium minima aliquam et vero sunt. Sed, vitae quaerat corrupti
      beatae animi ad. Accusamus mollitia, esse nisi fuga provident ipsa commodi suscipit iure? Deserunt nesciunt
      corporis, repellendus qui repudiandae voluptas aperiam officiis ullam inventore, quam, distinctio recusandae
      eius temporibus? Expedita, deserunt ut perspiciatis itaque ab inventore nostrum accusantium sit minima atque
      veritatis dolorem repellendus, ea vel quibusdam odio quisquam natus adipisci? Enim, veritatis distinctio
      nisi cumque veniam deserunt fugiat reiciendis perspiciatis, earum necessitatibus pariatur totam eaque? Natus
      maiores inventore repellendus rerum nobis temporibus quasi corrupti facilis quo, nemo eaque quam fugit
      doloremque expedita hic deleniti sit eius maxime quae ullam aliquam quisquam adipisci ratione libero.
      Consequatur, porro obcaecati!</p>
  </div>

  <!-- <div class="container-caracteristica">

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, reiciendis ipsa. Numquam vel aut ex
            facilis maiores amet laudantium dolore libero non nesciunt debitis sit in reprehenderit quibusdam, enim
            neque quisquam perspiciatis nobis officiis ducimus iusto eveniet doloribus quis aspernatur? Esse delectus
            nisi expedita ut vitae, voluptas placeat non at. Beatae deleniti fugiat, unde laboriosam neque laudantium
            pariatur ex dolore aperiam sunt esse dolorum quod architecto laborum omnis sint error quae fugit quam
            veritatis totam dolores explicabo ab accusamus. Accusantium possimus accusamus beatae natus incidunt, cumque
            inventore odio ducimus rem obcaecati qui laudantium minima aliquam et vero sunt. Sed, vitae quaerat corrupti
            beatae animi ad. Accusamus mollitia, esse nisi fuga provident ipsa commodi suscipit iure? Deserunt nesciunt
            corporis, repellendus qui repudiandae voluptas aperiam officiis ullam inventore, quam, distinctio recusandae
            eius temporibus? Expedita, deserunt ut perspiciatis itaque ab inventore nostrum accusantium sit minima atque
            veritatis dolorem repellendus, ea vel quibusdam odio quisquam natus adipisci? Enim, veritatis distinctio
            nisi cumque veniam deserunt fugiat reiciendis perspiciatis, earum necessitatibus pariatur totam eaque? Natus
            maiores inventore repellendus rerum nobis temporibus quasi corrupti facilis quo, nemo eaque quam fugit
            doloremque expedita hic deleniti sit eius maxime quae ullam aliquam quisquam adipisci ratione libero.
            Consequatur, porro obcaecati!</p>
    </div>

    <div class="container-caracteristica">

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, reiciendis ipsa. Numquam vel aut ex
            facilis maiores amet laudantium dolore libero non nesciunt debitis sit in reprehenderit quibusdam, enim
            neque quisquam perspiciatis nobis officiis ducimus iusto eveniet doloribus quis aspernatur? Esse delectus
            nisi expedita ut vitae, voluptas placeat non at. Beatae deleniti fugiat, unde laboriosam neque laudantium
            pariatur ex dolore aperiam sunt esse dolorum quod architecto laborum omnis sint error quae fugit quam
            veritatis totam dolores explicabo ab accusamus. Accusantium possimus accusamus beatae natus incidunt, cumque
            inventore odio ducimus rem obcaecati qui laudantium minima aliquam et vero sunt. Sed, vitae quaerat corrupti
            beatae animi ad. Accusamus mollitia, esse nisi fuga provident ipsa commodi suscipit iure? Deserunt nesciunt
            corporis, repellendus qui repudiandae voluptas aperiam officiis ullam inventore, quam, distinctio recusandae
            eius temporibus? Expedita, deserunt ut perspiciatis itaque ab inventore nostrum accusantium sit minima atque
            veritatis dolorem repellendus, ea vel quibusdam odio quisquam natus adipisci? Enim, veritatis distinctio
            nisi cumque veniam deserunt fugiat reiciendis perspiciatis, earum necessitatibus pariatur totam eaque? Natus
            maiores inventore repellendus rerum nobis temporibus quasi corrupti facilis quo, nemo eaque quam fugit
            doloremque expedita hic deleniti sit eius maxime quae ullam aliquam quisquam adipisci ratione libero.
            Consequatur, porro obcaecati!</p>
    </div>

    <div class="container-caracteristica">

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, reiciendis ipsa. Numquam vel aut ex
            facilis maiores amet laudantium dolore libero non nesciunt debitis sit in reprehenderit quibusdam, enim
            neque quisquam perspiciatis nobis officiis ducimus iusto eveniet doloribus quis aspernatur? Esse delectus
            nisi expedita ut vitae, voluptas placeat non at. Beatae deleniti fugiat, unde laboriosam neque laudantium
            pariatur ex dolore aperiam sunt esse dolorum quod architecto laborum omnis sint error quae fugit quam
            veritatis totam dolores explicabo ab accusamus. Accusantium possimus accusamus beatae natus incidunt, cumque
            inventore odio ducimus rem obcaecati qui laudantium minima aliquam et vero sunt. Sed, vitae quaerat corrupti
            beatae animi ad. Accusamus mollitia, esse nisi fuga provident ipsa commodi suscipit iure? Deserunt nesciunt
            corporis, repellendus qui repudiandae voluptas aperiam officiis ullam inventore, quam, distinctio recusandae
            eius temporibus? Expedita, deserunt ut perspiciatis itaque ab inventore nostrum accusantium sit minima atque
            veritatis dolorem repellendus, ea vel quibusdam odio quisquam natus adipisci? Enim, veritatis distinctio
            nisi cumque veniam deserunt fugiat reiciendis perspiciatis, earum necessitatibus pariatur totam eaque? Natus
            maiores inventore repellendus rerum nobis temporibus quasi corrupti facilis quo, nemo eaque quam fugit
            doloremque expedita hic deleniti sit eius maxime quae ullam aliquam quisquam adipisci ratione libero.
            Consequatur, porro obcaecati!</p>
    </div>

    <div class="container-caracteristica">


        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, reiciendis ipsa. Numquam vel aut ex
            facilis maiores amet laudantium dolore libero non nesciunt debitis sit in reprehenderit quibusdam, enim
            neque quisquam perspiciatis nobis officiis ducimus iusto eveniet doloribus quis aspernatur? Esse delectus
            nisi expedita ut vitae, voluptas placeat non at. Beatae deleniti fugiat, unde laboriosam neque laudantium
            pariatur ex dolore aperiam sunt esse dolorum quod architecto laborum omnis sint error quae fugit quam
            veritatis totam dolores explicabo ab accusamus. Accusantium possimus accusamus beatae natus incidunt, cumque
            inventore odio ducimus rem obcaecati qui laudantium minima aliquam et vero sunt. Sed, vitae quaerat corrupti
            beatae animi ad. Accusamus mollitia, esse nisi fuga provident ipsa commodi suscipit iure? Deserunt nesciunt
            corporis, repellendus qui repudiandae voluptas aperiam officiis ullam inventore, quam, distinctio recusandae
            eius temporibus? Expedita, deserunt ut perspiciatis itaque ab inventore nostrum accusantium sit minima atque
            veritatis dolorem repellendus, ea vel quibusdam odio quisquam natus adipisci? Enim, veritatis distinctio
            nisi cumque veniam deserunt fugiat reiciendis perspiciatis, earum necessitatibus pariatur totam eaque? Natus
            maiores inventore repellendus rerum nobis temporibus quasi corrupti facilis quo, nemo eaque quam fugit
            doloremque expedita hic deleniti sit eius maxime quae ullam aliquam quisquam adipisci ratione libero.
            Consequatur, porro obcaecati!</p>
    </div> -->


  <footer>
    <div class="container-footer">
      <div class="container-footer-detail">
        <div class="container-footer-title">
          <h5>Ayuda</h5>
        </div>
        <div class="container-help">
          <div>
            <a href="preguntas.ejs">Como Comprar</a>
          </div>
          <div>
            <a href="preguntas.ejs">Envíos</a>
          </div>
          <div>
            <a href="acerca.ejs">Nosotros</a>
          </div>
          <div>
            <a href="preguntas.ejs">Preguntas Frecuentes</a>
          </div>
          <div>
            <a href="tyc.ejs">Términos y Condiciones</a>
          </div>
        </div>
      </div>
      <div class="container-footer-detail">
        <div class="container-footer-title">
          <h5>Contacto</h5>
        </div>
        <div class="container-footer-contact">
          <div>
            <p>
              11-9977-4422 (Whatsapp)<br>
              Lunes a Viernes de 8 a 20hs<br>
              info@labodeguita.com.ar<br>
              Oficinas<br>
              Santiago del Estero 125 CABA<br>
              Argentina<br>
            </p>
          </div>
        </div>

      </div>
      <div class="container-footer-detail">
        <div class="container-footer-title">
          <h5>Compras</h5>
        </div>
        <div class="container-help">
          <div>
            <a href="vinos-tintos.ejs">Vino Tinto</a>
          </div>
          <div>
            <a href="vinos-blancos.ejs">Vino Blanco</a>
          </div>
          <div>
            <a href="espumantes.ejs">Espumantes</a>
          </div>

        </div>
      </div>
      <div class="container-footer-detail">
        <div class="container-footer-title">
          <h5>Seguinos</h5>
        </div>
        <div class="container-help">
          <div class="redes-img">
            <a href="http://www.instagram.com">
              <img src="images/instagramblack.png" alt="instagram" class="redes-img">
            </a>

            <a href="http://www.facebook.com">
              <img src="images/facebookblack.png" alt="facebook" class="redes-img">
            </a>
            <a href="http://www.twitter.com">
              <img src="images/twitter.png" alt="twitter" class="redes-img">
            </a>
          </div>

        </div>
      </div>

    </div>


  </footer>

  <script src="bootstrap.min.js"></script>

</body>

</html>